<header>
  <div class="header-logo">
  <a href="top.htm">TweetApp</a href>
  </div>
  <ul class="header-menus">
    <a href="top.htm">TweetAppとは</a href>
  </ul>
</header>

<div class="about-main">
  <h2>TweetAppとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
</div>